{% extends 'layouts/main.html' %}

{% block title %}Login{% endblock %}

{% block app_content %}
<div class="logged-in-box auth0-box logged-in">
        <table>
                <tr valign="top">
                        <td><img src="{{ user['avatar'] }}"></td>
                        <td>
                                <h1>User: {{ user['username'] }}</h1>
                                {% if user['name'] %}
                                <p>
                                        {{ user['name'] }}
                                        {% if user['location'] %}
                                        from {{ user['location']}}
                                        {% endif %}
                                </p>
                                {% endif %}
                                
                                {% if user['linkedin_handle'] %}<a href="https://linkedin.com/in/{{ user['linkedin_handle'] }}" target='blank'>Linkedin</a>{% endif %}
                                {% if user['last_seen'] %}<p>Last seen on: {{ user['last_seen'] }}</p>{% endif %}
                                
                        </td>
                </tr>
        </table>
        
        <pre>{{userinfo_pretty}}</pre>
        <a class="btn btn-primary btn-lg btn-logout btn-block" href="{{ url_for('auth.logout') }}">Logout</a>
</div>
{% endblock %}