{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} | 1024 Germany{% else %}Welcome to 1024 Germany{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">1024 Germany</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li {% if request.endpoint == 'home' %} class="active" {% endif %}><a href="{{ url_for('index') }}">Home</a></li>
            <li {% if request.endpoint == 'apply' %} class="active" {% endif %}><a href="{{ url_for('apply') }}">Apply</a></li>
            <li {% if request.endpoint == 'about' %} class="active" {% endif %}><a href="{{ url_for('about') }}">About</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('register') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('user', username=current_user.username) }}"><img src="{{ current_user.avatar(32) }}"></a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

{% block footer %}
<div id="footer">
<div class="container">
<p>Imagine Foundation &copy; All Rights Reserved.</p>
</div>
</div>
{% endblock %}
{% endblock %}


