{% extends 'bootstrap/base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block html_attribs %}
lang="en"
{% endblock html_attribs %}

{% block title %}
{% if title %}{{ title }} | Personality Interview{% else %}Welcome to Personality Interview{% endif %}
{% endblock title %}

{% block metas %}
<meta charset="UTF-8">
<meta name="description" content="Prepare for Job Interviews by getting to Know your Personality">
<meta name="keywords" content="Personality,Interview,Hiring,Job,Prepare,Recruiter">
<meta name="author" content="Louis Guitton">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock metas %}

{%- block styles %}
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/styles.css" />

<!-- Fontawesome -->
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}">
{%- endblock styles %}

{% block head %}
{{super()}}

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<!-- /favicons -->

{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<script type="text/javascript">
    window.$crisp=[];
    window.CRISP_WEBSITE_ID="b078ee71-dcaa-4ac8-bbd1-38487e7ecfd3";
    (function(){
        d=document;
        s=d.createElement("script");
        s.src="https://client.crisp.chat/l.js";
        s.async=1;
        d.getElementsByTagName("head")[0].appendChild(s);
    })();
</script>

{% endblock head %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Personality Interview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.apply') }}">Interview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                </li>
                
                {% if g.identity.provides %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://manage.auth0.com/#/" target='blank'>Auth0</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.dashboard') }}"><img class='avatar' src="{{ current_user.picture }}"></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar%}


{% block content %}
{{ utils.flashed_messages() }}

<div class="wrapper">
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock app_content %}
</div>

<footer class="bd-footer text-muted">
    <div class="container">
        <ul class="bd-footer-links list-inline">
            <li class="list-inline-item"><a href="{{ url_for('main.index') }}">Home</a></li>
            <li class="list-inline-item"><a href="{{ url_for('main.apply') }}">Interview</a></li>
            <li class="list-inline-item"><a href="{{ url_for('main.about') }}">About</a></li>
            <li class="list-inline-item"><a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="{{ url_for('main.impressum') }}">Impressum</a></li>
            {% if g.identity.provides %}
            <li class="footer-menu-divider list-inline-item">⋅</li>
            <li class="list-inline-item"><a href="{{ url_for('admin.index') }}">Admin</a></li>
            <li class="list-inline-item">
                <a href="https://manage.auth0.com/#/" target='blank'>Auth0</a>
            </li>
            {% endif %}
            <li class="footer-menu-divider list-inline-item">⋅</li>
            {% if current_user.is_anonymous %}
            <li class="list-inline-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li class="list-inline-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        <p class="copyright text-muted small">Copyright Imagine Foundation © 2018. All Rights Reserved</p>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
{%- endblock scripts %}