{% extends 'layouts/main.html' %}
{% block title %}Apply{% endblock %}

{% block content %}
<div id="main" role="main" class="apply">
	
	<div class="row">
		<div class="col-sm-4">
			<h1>
				Apply
			</h1>
			<p class="text-muted step">(step 1 of 4)</p>
		</div><!-- /.col -->
		<div class="col-sm-8">
			<div class="alert alert-success">
				<b>Hi, {{ current_user.username }}!<br> </b>
			</div>
			
			<p>
				<b>STEP 1:</b> Fill out the form below.
			</p>
			<p>
				<b>STEP 2:</b> Record short video response{{ '' if global_data["VIDEOS"]|length == 1 else 's' }} on the following page{{ '' if global_data["VIDEOS"]|length == 1 else 's' }}:
			</p>
			<ul>
				{% for video in global_data["VIDEOS"] %}
				<li><b>"{{ video["question"] }}"</b> <br /><span class="text-muted">(up to a {{ video["limit"] }}-second response)</span>
				</li>
				{% endfor %}
			</ul>
			<p><i>Hint: The browser will prompt you to record using your computer's camera and microphone. Please make sure you're all set in a quiet space.</i> </p>			
			
			<p>
				<b>STEP 3:</b> Submit Personality Test.
			</p>

			<p>
				<b>STEP 4:</b> Submit English Test.
			</p>
			<hr />
			
			<h1>Step 1: Information</h1>
			
			<form method="POST" class="form">
				<input type="hidden" name="state" value="0" />
				{{ form.hidden_tag() }}
				<p>
					{{ form.name.label }}<br>
					{{ form.name(size=32, class_='form-control first-input', placeholder=current_user.name) }}
					{% for error in form.name.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>
					{{ form.location.label }}<br>
					{{ form.location(size=32, class_='form-control', placeholder=current_user.location) }}
					{% for error in form.location.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				<p>
					{{ form.linkedin_handle.label }}<br>
					{{ form.linkedin_handle(size=32, class_='form-control last-input', placeholder=current_user.linkedin_handle) }}
					{% for error in form.linkedin_handle.errors %}
					<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>
				
				{{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
				
			</form>
			
			<p>
				
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
{% endblock %}
	
	