{% extends 'layouts/main.html' %}
{% block title %}Profile{% endblock %}


{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.name %}
                    <p>
                        {{ user.name }}
                        {% if user.location %}
                            from {{ user.location}}
                        {% endif %}
                    </p>
                {% endif %}

                {% if user.linkedin_handle %}<a href='https://linkedin.com/in/{{ user.linkedin_handle }}'>Linkedin</a>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

            </td>
        </tr>
    </table>
{% endblock %}
