/* app/static/css/style.css */

body{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran', "Lato";
    font-weight: bolder !important;
}


::selection {
    background: #555;
    color: #FFF;
}

a {
    cursor: pointer;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(20, 20, 20, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: rgb(20, 20, 20);
} 

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #687430;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.navbar {
    margin: 0;
}

.content-section {
    padding: 50px 0;
}

.footer, .push {
    clear: both;
    height: 4em;
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }
    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }
    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
    min-height: 75%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    padding: 0 0 4em;
}

.error {
    background-color: #FFDDDD;
    color: red;
}
.error-desc {
    display: none;
}
.error .error-desc {
    display: inherit;
}

img.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 2.5em;
    height: 2.5em;
}

.btn-primary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #687430;
    border-radius: 5rem;
    background: #aec251;
    background: -webkit-gradient(linear, left top, left bottom, from(#aec251), to(#687430));
    background: -moz-linear-gradient(top, #aec251, #687430);
    background: linear-gradient(to bottom, #aec251, #687430);
    -webkit-box-shadow: #000000 0px 0px 8px 0px;
    -moz-box-shadow: #000000 0px 0px 8px 0px;
    box-shadow: #000000 0px 0px 8px 0px;
    text-shadow: #687430 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.btn-primary:hover {
    background: #aec251;
    background: -webkit-gradient(linear, left top, left bottom, from(#aec251), to(#e6ecca));
    background: -moz-linear-gradient(top, #aec251, #e6ecca);
    background: linear-gradient(to bottom, #aec251, #e6ecca);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.btn-primary:active {
    background: #687430;
    background: -webkit-gradient(linear, left top, left bottom, from(#687430), to(#687430));
    background: -moz-linear-gradient(top, #687430, #687430);
    background: linear-gradient(to bottom, #687430, #687430);
    text-transform: uppercase
}
.btn-primaryn:focus {
    text-transform: uppercase
}

/* change player background color */
#myVideo {
    background-color: #aec251;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.confirmation {
    padding-left:1em; 
    display:none;
    color: #aec251;
}

.loader {
    padding-left:1em; 
    display: none;
}