/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

::selection {
    background: #555;
    color: #FFF;
}

a {
    cursor: pointer;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #687430;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.navbar {
    margin: 0;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
    clear: both;
    height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover ;
    color: #f8f8f8;
    text-align: center;
    padding: 0 0 40%;
    margin-left: auto;
    margin-right: auto;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
    min-height: 75%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    padding: 0 0 4em;
}

.error {
    background-color: #FFDDDD;
    color: red;
}
.error-desc {
    display: none;
}
.error .error-desc {
    display: inherit;
}

img.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 2.5em;
    height: 2.5em;
}

.btn-primary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #687430;
    border-radius: 29px;
    background: #aec251;
    background: -webkit-gradient(linear, left top, left bottom, from(#aec251), to(#687430));
    background: -moz-linear-gradient(top, #aec251, #687430);
    background: linear-gradient(to bottom, #aec251, #687430);
    -webkit-box-shadow: #000000 0px 0px 8px 0px;
    -moz-box-shadow: #000000 0px 0px 8px 0px;
    box-shadow: #000000 0px 0px 8px 0px;
    text-shadow: #687430 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.btn-primary:hover {
    background: #aec251;
    background: -webkit-gradient(linear, left top, left bottom, from(#aec251), to(#e6ecca));
    background: -moz-linear-gradient(top, #aec251, #e6ecca);
    background: linear-gradient(to bottom, #aec251, #e6ecca);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.btn-primary:active {
    background: #687430;
    background: -webkit-gradient(linear, left top, left bottom, from(#687430), to(#687430));
    background: -moz-linear-gradient(top, #687430, #687430);
    background: linear-gradient(to bottom, #687430, #687430);
    text-transform: uppercase
}
.btn-primaryn:focus {
    text-transform: uppercase
}
