{% extends 'layouts/main.html' %}
{% block title %}Personality Interview{% endblock %}

{% block app_content %}
<header class="masthead text-center text-white">
        <div class="masthead-content">
          <div class="container">
            <h1 class="masthead-heading mb-0">Personality Interview</h1>
            <h2 class="masthead-subheading mb-0">Know your Personality to Prepare for Job Interviews</h2>
            <a href="{{url_for('main.apply')}}" class="btn btn-primary mt-5">Interview</a>
          </div>
        </div>
      </header>
  
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/01.jpg') }}" alt="job seeker having an interview">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h3 class="display-4">You have a Job Interview</h3>
                <p>
                    You're maybe looking for the next best job, or maybe you're preparing for the next big step in your career.
                    But first interviews can be daunting...
                    What else can you try to be ready?
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/02.jpg') }}" alt="being under the spotlight when recruiters ask questions">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <h3 class="display-4">Prepare for Recruiter Questions</h3>
                <p>
                    We've partnered with psychologists to develop a list of questions that recruiters can ask to get to know your personality.
                    Rehearse by answering them live on video.
                    How do you look like under the spotlight ? 
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/03.jpg') }}" alt="candidate looking at her own personality with binoculars">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h3 class="display-4">Know your Personality</h3>
                <p>
                    You've probably heard of the MBTI or the Big 5 personality tests.
                    Those are representations that recruiters use to picture you in the workplace.
                    What is your personality type ?
                </p>
                </div>
            </div>
          </div>
        </div>
      </section>

      <section>
          <div class="container text-center masthead-content">
                <div class="control-group">
                    <a href="{{url_for('main.apply')}}" class="btn btn-primary mt-5">Interview</a>
                </div>
            </div>
      </section>
  
{% endblock %}
