{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}

{% block app_content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Nail the First Interview</h1>
                    <h3>Brought to you by Imagine Foundation and Chalearn</h3>
                    <hr class="intro-divider">
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
